<div id="choroplethmap-chart" class="card-shell-narrow">
  <div class="h4 pt-2 mb-3 fw-bold text-center">
    Some Text
  </div>

    <svg id="choroplethmap-svg"></svg>
  </div>
  <div
    id="choroplethmap-tooltip"
    style="
      position: absolute;
      pointer-events: none;
      display: none;
      padding: 6px 10px;
      background: rgba(0, 0, 0, 0.75);
      color: #fff;
      border-radius: 4px;
      font-size: 12px;
    "
  ></div>
  <div class="card-narrow">
    <p class="mt-2 mb-0 pt-2 text-muted small text-start">
Some text
    </p>
  </div>
</div>
