<div id="histogram-chart" class="card-shell-narrow">
  <div class="h4 pt-2 mb-3 fw-bold text-center">Title</div>
  <div class="mx-auto mb-4 d-flex justify-content-center">
    <svg id="histogram-svg"></svg>
  </div>
  ></div>
  <div class="card-narrow">
    <p class="mt-2 mb-0 pt-2 text-muted small text-start">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      quia laborum adipisci nostrum eligendi, cumque facere commodi possimus
      neque omnis modi placeat ratione tenetur dicta! Aut inventore ut vitae
      quam.
    </p>
  </div>
</div>
