<div id="network-graph-chart" class="card-shell-narrow">
  <div class="h4 pt-2 fw-bold text-center">The Web of Conflict</div>
  <div class="h6 pt-2 mb-4 text-center text-muted">
    Tracing the threads of instability across borders
  </div>
  <div id="network-graph-container"></div>
  <div class="card-narrow">
    <p class="mt-2 mb-0 pt-2 text-muted small text-start">
      This network visualizes the complex interplay between nations (blue nodes)
      and specific types of violence (orange nodes). The connections reveal the
      intensity of these relationships, with the thickness of each line
      proportional to the relative frequency of events. This structure
      highlights which forms of conflict are most prevalent in each country,
      offering a clear view of the regional landscape of instability.
    </p>
  </div>
</div>
