<div
  id="ridgeline-chart"
  class="card-shell-narrow chart-wrapper"
  style="font-family: 'Roboto Slab', serif"
>
  <div class="h4 pt-2 fw-bold text-center">
    The voice of dissent
  </div>
  <div class="h6 pt-2 mb-4 fw-bold text-center">
    Weekly distribution of protests by type (“peaceful protest” and “violent demonstration”) over the years.
  </div>
  <div
    class="d-flex flex-wrap justify-content-center align-items-center gap-4 mb-3"
    id="ridgeline-controls"
  >
    <div class="mt-2 d-flex align-items-center gap-2">
      <label
        for="ridgeline-country-select"
        class="text-uppercase small fw-semibold mb-0"
        >Country</label
      >
      <select
        id="ridgeline-country-select"
        class="form-select form-select-sm chart-select"
      ></select>
    </div>
    <div class="mt-2 d-flex align-items-center gap-2">
      <label
        for="ridgeline-subtype-select"
        class="text-uppercase small fw-semibold mb-0"
        >Subtype</label
      >
      <select
        id="ridgeline-subtype-select"
        class="form-select form-select-sm chart-select"
      ></select>
    </div>
  </div>
  <div
    class="mx-auto mb-4 d-flex justify-content-center"
    id="ridgeline-svg-wrapper"
  >
    <div id="ridgeline-chart-inner" class="w-100"></div>
  </div>
  <div class="card-narrow">
    <p class="mt-2 mb-0 text-muted small text-start">
      The charts reveal the frequency and intensity of civil mobilizations: on one hand, the desire for freedom and rights; on the other, the anger that explodes into clashes.
      Wider curves indicate weeks of intense political or social activity: a sign of the ongoing tension between resistance and repression.<br>
      The streets remain one of the few spaces where the population can still make their voices heard.<br>
      Violent protests, while present, represent a a smaller part of the whole: the majority of the population still chooses to express their discontent in a non-violent way.
    </p>
  </div>
</div>
