<section id="chapter-3-container" class="my-4">
  <div class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow">
    <header class="text-center mb-4">
      <div class="h1 fw-semibold mb-0">The lines of conflict</div>
      <div class="h3 fw-semibold mb-0">Temporal evolution of demonstrations, political violence events,<br /> events targeting civilians and civilian fatalities (2015-2025)</div>
    </header>
    <div class="row g-4 mt-5">
      <div id="lineplot-container" class="col-12 text-center"></div>
    </div>
  </div>
</section>
