<section id="chapter-2-container" class="my-4">
  <div class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow">
    <header class="text-center mb-4">
      <div class="h1 fw-semibold mb-0">Title</div>
      <div class="h2 fw-semibold mb-0">Subtitle</div>
    </header>
    <div class="row g-4 mt-5">
      <div id="histogram-container" class="col-12 text-center"></div>
      <div id="violin-plot-container" class="col-12 text-center"></div>
      <div id="ridgeline-plot-container" class="col-12 text-center"></div>
      <div id="boxplot-container" class="col-12 text-center"></div>
    </div>
  </div>
</section>
