<section id="chapter-5-container" class="my-4">
  <div class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow">
    <header class="text-center mb-4">
      <div class="h1 fw-semibold mb-0"> Conflict connections</div>
      <div class="h3 fw-semibold mb-0">Visualizing the relationships and flows between countries and types of violence</div>
    </header>
    <div class="row g-4 mt-5">
      <div id="sankey-container" class="col-12 text-center"></div>
      <div id="network-graph-container" class="col-12 text-center"></div>
  </div>
</section>
