<section id="chapter-4-container" class="my-4">
  <div class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow">
    <header class="text-center mb-4">
      <div class="h1 fw-semibold mb-0">The geography of violence</div>
      <div class="h3 fw-semibold mb-0">A spatial analysis of civilian deaths, targeted attacks, and political violence in the Middle East</div>
    </header>
    <div class="row g-4 mt-5">
      <div id="ChoroplethMap-container" class="col-12 text-center"></div>
      <div id="symbolic-map-chart" class="col-12 text-center"></div>
      <div id="cartogram-container" class="col-12 text-center"></div>
    </div>
  </div>
</section>
