<section id="charts" class="my-4">
  <div class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow">
    <header class="text-center mb-4">
      <div class="h1 fw-semibold mb-0">Ten years of fire and resistance</div>
      <div class="h2 fw-semibold mb-0">
        Civilians in the crosshairs, people in the streets
      </div>
    </header>
    <div class="row g-4 mt-5">
      <div id="grouped-bar-container" class="col-12 text-center"></div>
      <div id="stacked-100-container" class="col-12 text-center"></div>
      <div id="waffle-container" class="col-12 text-center"></div>
      <div id="circlepacking-container" class="col-12 text-center"></div>
      <div id="bar-horizontal-container" class="col-12 text-center"></div>
      <div id="heatmap-container" class="col-12 text-center"></div>
    </div>
  </div>
</section>
