<section
  id="intro"
  class="bg-white border rounded-3 shadow-sm p-4 card-shell-narrow"
>
  <header class="text-center mb-4">
    <div class="h1 display-6 fw-bold mb-2">Conflict &amp; Human Suffering</div>
    <div class="h3 fw-bold mb-2">Data Four</div>
    <p class="small text-muted mb-0">
      Acossi Giorgio · Polizzi Lucrezia · Raffaghello Tommaso · Ventura Eleonora
    </p>
  </header>
  <div class="card-narrow">
    <div class="h5 fw-semibold mb-3 mt-5 text-center">Introduction</div>
    <p class="mb-2" style="text-align: justify">
      Wars are no longer fought only on battlefields: today most conflicts take
      place in the streets, in people’s homes and in the daily lives of ordinary
      citizens. <br />
      Conflict & Human Suffering is a data-driven exploration of how war and
      violence affect not only politics and geography, but especially human
      lives, those of innocent people whose only fault is being born in the
      wrong place. <br />
      Through visual storytelling we tell the numbers of pain, the attacks, the
      victims, the protests, but also the hope that arises in the darkest
      moments. <br />
      Every story we share combines data analysis and human perspective,
      transforming statistics into narratives that help us understand not only
      what happens during conflicts, but who happens to.
    </p>
    <p class="bt-2">
      <em>This project is for them.</em>
    </p>
  </div>
</section>
