<nav
  class="navbar navbar-expand-lg bg-white border-bottom fixed-top"
  data-bs-theme="light"
>
  <div class="container">
    <a class="navbar-brand fw-bold" href="#intro"
      >Conflict &amp; Human Suffering</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#intro"
            >Introduction</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#chapter-1-container" style="color: #2a7700ff;"
            >Fire and resistance</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#chapter-2-container" style="color: #1461a9ff;"
            >Syria and Palestine</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#chapter-3-container" style="color: #d84f05ff;"
            >Lines of conflict</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#chapter-4-container" style="color: #7b2cbfff;"
            >Global impact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none" href="#chapter-5-container" style="color: #b5179eff;"
            >Conflict connections</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
